<div 
  [class]="classes.join(' ')"
  [ngStyle]="styles"
  (click)="onTagClick($event)"
  [attr.title]="tooltip"
  role="button"
  [attr.tabindex]="clickable && !disabled ? 0 : -1"
  [attr.aria-disabled]="disabled"
  [attr.aria-pressed]="clickable ? selected : undefined">
  
  <!-- Left Icon -->
  <span 
    *ngIf="icon && iconPosition === 'left'" 
    class="premium-tag__icon premium-tag__icon--left">
    <i [class]="icon"></i>
  </span>

  <!-- Content -->
  <span class="premium-tag__content">
    <ng-content></ng-content>
  </span>

  <!-- Right Icon -->
  <span 
    *ngIf="icon && iconPosition === 'right'" 
    class="premium-tag__icon premium-tag__icon--right">
    <i [class]="icon"></i>
  </span>

  <!-- Remove Button -->
  <button 
    *ngIf="removable && !disabled"
    type="button"
    class="premium-tag__remove"
    (click)="onRemoveClick($event)"
    aria-label="Remove tag">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
    </svg>
  </button>

  <!-- Selected Indicator -->
  <span 
    *ngIf="selected" 
    class="premium-tag__selected-indicator"
    aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/>
    </svg>
  </span>
</div>
