<div 
  class="star-rating"
  [class.star-rating--interactive]="!readonly"
  (mouseleave)="onMouseLeave()">
  
  <div class="star-container">
    <div 
      *ngFor="let star of stars" 
      class="star-wrapper"
      [ngStyle]="getStarStyle(star)"
      (click)="onStarClick(star, $event)"
      (mousemove)="onStarHover(star, $event)">
      
      <!-- Empty Star -->
      <svg 
        class="star star--empty" 
        [ngClass]="getStarClass(star)"
        viewBox="0 0 24 24" 
        xmlns="http://www.w3.org/2000/svg">
        <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
      </svg>

      <!-- Filled Star -->
      <svg 
        class="star star--filled" 
        [ngClass]="getStarClass(star)"
        viewBox="0 0 24 24" 
        xmlns="http://www.w3.org/2000/svg">
        <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
      </svg>
    </div>
  </div>

  <!-- Rating Number -->
  <span 
    *ngIf="showNumber" 
    class="rating-number"
    [class.rating-number--small]="size === 'small'"
    [class.rating-number--large]="size === 'large'">
    {{ rating }}
  </span>
</div>
